*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}


hr{
    margin-top: 21px;
    background-color: #7d97ad;
}

h1{
    text-align: right;
   font-family: 'Source Sans Pro', sans-serif;
    color: #2d3c49;
}

.introduce{

    color: #2d3c49;
    margin-top: -20px;
    text-align: right;

}


h3{
    color:#7d97ad ;
}

p{
    text-align: center;
}

/*for good phone*/
@media screen and (max-width: 640px) {

    .udacity_log{
        width: 200px;
        position: static;
    }
    img{
        max-width: 640px;
        width: 100%;
    }


}

/*for ipad */
@media screen and (max-width: 1024px) {
    .udacity_log{
        width: 230px ;
        position: static;
    }

    img{
        max-width: 1024px;
        width: 100%;
    }

}

/*for computer */
@media screen and (min-width: 825px) {

    .article-main{

    }
    .container{
        width: 800px;
        margin-right: auto;
        margin-left: auto;
    }

    .container-1{
        display: flex;
    }

    img{
        width: 100%;

    }

    p{
        text-align: center;
    }


    .udacity_log{
    width: 200px;
    position: absolute;
    margin-bottom: 60px;

    }

    .article-1,.article-2{
        width: calc((100% - 75px )/2);
        margin-right: 25px;
    }

    .article-3{
        width: calc((100% - 75px )/2);

    }





}


